.roundpage-wrapper {
  position: relative;
  background-color: #23314F;
  width: 100%;
  overflow: auto;
}
.roundpage {
  padding: 5%;
  width: 100%;
}

.roundpage__legend {
  background-color: white;
  color: black;
  border-radius: 3px;
  border: 2px solid rgba(0, 0, 0, .4);
  height: 540px;
  margin-left: 5%;
}

.ticket-container {
  width: 540px;
  height: 540px;
  position: relative;
}

.ticket-container__ticket {
  user-drag: none; 
  user-select: none;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50px;
  span {
    font-family: "Flagship Slab";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-65%, -50%); 
  }
}

.ticket-container__overlay {
  position:absolute;
  height:100%;
  width:100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, .5);
  color: white;
}


.reciept {
  background-color: white;
  color: black;
  position: relative;
  border-radius: 3px;
  border: 2px solid rgba(0, 0, 0, .4);
  padding: 20px 5px;
  height: 535px;
  max-width: 271px;
  .reciept-values {
    position: relative;
    height: 500px;
    border: 3px dashed rgba(0, 0, 0, .5);
    border-radius: 15px;
    padding: 10px;
    font-family: "Reciept";
    .reciept-values__hint {
      border-bottom: 2px dashed black;
    }
    .reciept-values__total {
      position: absolute;
      width: 92%;
      bottom: 0;
      margin-bottom: 5%;
      border-top: 2px dashed black;
    }
  }
  .reciept-ball {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    img {
      width:50px;
      height: 50px;
    }
  }
  .receipt-ball_first {
    margin-right: 5px;
  }
  .receipt-ball_collapsed {
    width: 27px;
    .reciept-ball__label {
      position:absolute;
      top:50%;
      left:50%;
      transform: translate(5px, -60%);
      font-size: 15px;
    }
  }
  .reciept__buy-button {
    display: block;
    position: absolute;
    bottom: 7px;
    right: 15px;
    border: 3px dashed rgba(0, 0, 0, 0.5);
  }
  .reciept-ball__label {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-60%, -60%);
    font-size: 15px;
  }
  &:after {
    content: " ";
    display: block;
    position: relative;
    top: 0px;
    left: -7px;
    width: 105%;
    height: 30px;
    background: -moz-linear-gradient(#23314f 0%, transparent 0%),
     -moz-linear-gradient(135deg, #23314f 33.33%, transparent 33.33%) 0 0%, 
     #23314f -moz-linear-gradient(45deg, transparent 33.33%, white 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 0px 100%, 15px 15px, 15px 15px;
  }
}

.round-overlay {
  color: white;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
}

.smallscreen-overlay {
  display: none;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  h1 {
    color: black;
  }
}

.round__info {
  margin-top:110px;
  text-align: center;
  color: white;
  padding-top: 30px;
}

.round-number {
}

@media only screen and (max-width : 1325px) and (min-width: 990px)
{ 
  .roundpage__legend {
    display: none;
  }
  .ticket-container {
    margin-left: 10%;
  }
}

@media only screen and (max-width : 990px) and (min-width: 860px)
{ 
  .ticket-container {
    margin-left: 5%;
  }
}

@media only screen and (max-width : 860px) and (min-width: 760px)
{ 
  .roundpage {
    padding: 5% 0px;
  }
}

@media only screen and (max-width: 760px) {
  .smallscreen-overlay {
    display: block;
  }
}
