extends layout

block container
	.jumbotron.text-center
		h1 Auth
			span.fa.fa-lock
		a.btn.btn-default(href='/login') Вход
			span.fa.fa-user
		a.btn.btn-default(href='/signup') Регистрация
			span.fa.fa-sign-in
		a.btn.btn-primary(href='/auth/facebook') Вход с Facebook
			span.fa.fa-facebook
		a.btn.btn-info(href='/auth/vkontakte') Вход с Вконтакте
			


