doctype
html( lang="en" )
  head
    title Lotalot
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='Baking Bootstrap Snippets with Jade' )
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
    link(href="../public/stylesheets/style.css", rel="stylesheet")
    link(href="../public/build/stylesheet.css", rel="stylesheet")
    link(href="stylesheet.css", rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Merriweather&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Cousine&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    link(href="../public/stylesheets/bootstrap-5-8-10.css", rel="stylesheet")
    body
      #container
      script( src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
      script( src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
      script(type='text/javascript', src='vendor.bundle.js')
      script(type='text/javascript', src='client.bundle.js')

