html {
  width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
}

.section__title__black {
  font-family: 'WeblySleek UI';
  font-size: 3em;
  color: rgba(0,0,0);
  margin-bottom: 2%;
}

.section__title__white {
  font-family: 'WeblySleek UI';
  font-size: 3em;
  color: rgba(0,0,0);
  margin-bottom: 2%;
}

.round__steps__caption {
  margin-top: 2%;
  color: #6c7a89;
}

.username {
  font: 'Cousine',;
  font-size: 14px;
  font-weight: 600;
}


.routerContainer {
  background-color: #3C4F76;
  height: 100%;
}

.notifications__wrapper {
  height: 650px;
  background-color:rgba(60, 79, 118, 1);
}

.notifications__block {
  min-height: 450px;
  background-color: white;
  color: black;
  border-radius: 15px;
  font-family: 'WeblySleek UI';
  margin-top: 150px;
}

.notifications__block h2 {
  text-align: center;
}

.profile__wrapper {
  width:100%;
  min-height: 650px;
  background-color:rgba(60, 79, 118, 1);
}

.profilePage {
  background-color: white;
  color: black;
  border-radius: 15px;
  font-family: 'WeblySleek UI';
  margin-top: 150px;
}

.profilePage span {
  color: black;
  font-size: 1.3em;
}

.round__history__element {
  white-space: nowrap;
  height: 120px;
  box-sizing: content-box;
}

.round__history__pic {
  padding: 0;
}

.round__history__description {
  height: 120px;
}

.roundWaiting {
  position: absolute;
  background: rgba(0,0,0,0.5);
  content: '';
  width: 100%;
  height: 100%;
  transform: translateX(-3%);
  -moz-transform: translateX(-3%);
  -ms-transform: translateX(-3%);
  -o-transform: translateX(-3%);
  -webkit-transform: translateX(-3%);
  border-radius: 10px;
}

.ticketContainer h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: white;
}

.ticketCost {
  -moz-transform: translateX(120%);
  -ms-transform: translateX(120%);
  -o-transform: translateX(120%);
  -webkit-transform: translateX(120%);
}

#round__steps {
  background-color: #ecf0f1;
  padding-bottom: 50px;
}

@font-face {
  font-family: "WeblySleek UI";
  font-weight: 100;
  src: local("☺︎"), url("../fonts/ws-ui-light.woff") format("woff");
}

@font-face {
  font-family: "Reciept";
  font-weight: 100;
  src: local("☺︎"), url("../fonts/receipt.ttf") format("truetype");
}

@font-face {
  font-family: "Flagship Slab";
  font-weight: 100;
  src: local("☺︎"), url("../fonts/FlagshipSlabRegular.otf") format("opentype");
}

@font-face {
  font-family: "Circular";
  font-style: normal;
  font-weight: normal;
  src: url("https://a1.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-22799398756cc42454a77735013a3378.eot?#") format("eot"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-030dcebde359eb3be354ab21c34a89ce.woff") format("woff"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-287e910a06039c130e488343a7564c39.svg") format("svg");
}
