html {
  height: 100%;
}
 
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.headBlock {
  height: 55%;
  background-color: #14a141;
}

.productsBlock {
  height: 45%;
  background-color: #DDDBF1;
}

.aboutUsBlock {
  height: 50%;
  background-color: #3a2e39;
}
